body{
    justify-items: center;
    align-items: center;
    text-align: center;
}
#cat {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
    row-gap: 5vh;
    margin-top: 10vh;
    img{
        width: 250px;
        height: 350px;
        object-fit: cover;
    }
    
}

button{
    font-size: 24px;
    width: 150px;
    color : white;
    background: green;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }